# https://editorconfig.org/
root = true

[*]
charset = utf-8
end_of_line = unset # handled by .gitattributes, set to value if no .gitattributes file
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

[*.json]
indent_size = 2

[*.feature]
indent_size = 2
